{% extends "movie/base.html" %}
{% block content %}
    <style>
        .item{
            display: block;
            float: left;
            font-size: 15px;
            text-align: center;
            margin:0 25px 10px 0;
            width: 200px;
        }
        .item .poster_div{
            height: 320px;
            overflow: hidden;
        }
    </style>
    <div class="container">
        <div class="jumbotron">
            <h1>本站使用指南</h1>
            <p> Site Guide</p>
            <p><strong> 首页 </strong>展示部分本站收录的电影，<strong> 热门电影 </strong>呈现本站评分前100的电影。</p>
            <p>点击任意一部电影即可查看该部电影的详细介绍，你可以对电影<strong> 评分 </strong>和<strong> 评论 </strong>，并查看喜欢该部电影的用户可能会喜欢的其他电影。</p>
            <p>若评分的电影数量超过<strong> 10部 </strong>，本站将自动为您生成电影推荐，点击首页右上角下拉菜单中的<strong> 推荐列表 </strong>即可查看推荐的电影。</p>
            <p>您可<strong> 点击“电影分类”进入电影分类页</strong>，或直接进行<strong> 搜索 </strong>，快速找到你想找的电影。</p>
        </div>
    </div>
    <!--展示电影图片用-->
    <div class="container">

        {% for movie in movies %}
            <a href="{% url 'movie:detail' movie.pk %}" class="item">
            <div class="poster_div">
                <img src="/static/movie/poster/{{ movie.imdb_id }}.jpg" alt="">
                <p>{{ movie.name }}
                    <strong style="color:#e09015">{{ movie.get_score }}</strong>
                </p>
            </div>
            </a>
        {% endfor %}
    </div>

    <!-- nav视图分页用 不用管-->
    <nav style="text-align: center;">
        <ul class="pagination">
            {#previous page#}
            {% if page_obj.has_previous %}
                <li><a href="{% url 'movie:index' %}?p={{ page_obj.previous_page_number }}">上一页</a></li>
            {% else %}
                <li class="disabled"><a href="javascript:void(0);">上一页</a></li>
            {% endif %}

            {% if left_has_more %}
                <li><a href="{% url 'movie:index' %}?p=1">1</a></li>
                <li><a href="javascript:void(0)">...</a></li>
            {% endif %}

            {#        左边的page#}
            {% for left_page in left_pages %}
                <li><a href="{% url 'movie:index' %}?p={{ left_page }}">{{ left_page }}</a></li>
            {% endfor %}

            {#    当前的page#}
            <li class="active"><a href="javascript:void(0);">{{ current_page }}</a></li>

            {#     右边的page#}
            {% for right_page in right_pages %}
                <li><a href="{% url 'movie:index' %}?p={{ right_page }}">{{ right_page }}</a></li>
            {% endfor %}
            {% if right_has_more %}
                <li><a href="javascript:void(0)">...</a></li>
                <li><a href="{% url 'movie:index' %}?p={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% endif %}
            {#next page#}
            {% if page_obj.has_next %}
                <li><a href="{% url 'movie:index' %}?p={{ page_obj.next_page_number }}">下一页</a></li>
            {% else %}
                <li class="disabled"><a href="javascript:void(0);">上一页</a></li>
            {% endif %}
        </ul>
    </nav>


{% endblock %}